@import "root.css";

label {
  padding: 0.75em 0;
}

form {
  max-width: 60rem;
  margin: 2rem auto;
}

form fieldset {
  border: 3px solid var(--federal-blue);
  border-radius: 10px;
  background-color: lightgray;
  padding: 0.5rem 2%;
  margin: 0.5rem;
}

form p {
  margin: 1rem;
  margin-top: 2rem;
}

form div,
legend {
  font-family: var(--paragraph-font);
}

legend {
  background-color: var(--federal-blue);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.25rem;
}

.sbs {
  display: flex;
}

.top,
form div {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  padding-top: 1rem;
}

.top input,
.top select,
.address-field {
  display: block;
  font-size: 1rem;
  border: solid 1px var(--federal-blue);
  border-radius: 4px;
  padding: 0.75 rem;
  width: 100%;
  max-width: 20rem;
  height: 44px;
}

.required-field {
  color: darkred;
}

#backButton {
  background-color: darkred;
  padding: 0.75rem;
}

#submitButton {
  background-color: var(--navy-blue);
  padding: 0.75rem 1.5rem;
}

#submitButton,
#backButton {
  border: none;
  color: white;
  border-radius: 1rem;
  width: 100%;
  margin: 0.25rem auto;
}

#submitButton:hover,
#backButton:hover {
  background-color: var(--sky-blue);
  color: black;
}


#home-address input {
  margin: 3px;
}