@import "root.css";

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: var(--sky-blue);
  color: black;
}

a,
label,
p {
  font-family: var(--paragraph-font);
}

body {
  background-color: var(--celestial-blue);
}

header,
footer {
  background-color: var(--persian-blue);
}

footer a, footer p {
  color: white;
  padding: 5px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  text-align: center;
}

nav {
  background-color: var(--federal-blue);
}

nav ul {
  display: flex;
  list-style-type: none;
}

.home-page-cards {
  border: 7px solid var(--federal-blue);
  margin: 5px;
  background-color: var(--sky-blue)
}