table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
}

th {
  border: 3px solid black;
  font-family: var(--header-font);
  background-color: var(--persian-blue);
  color: white;
}

td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-family: var(--paragraph-font);
}

th,
td {
  padding: 5px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: lightgray;
}
