#client-table {
    margin: 1em auto;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: darkgray;
    max-width: 85%;
}

#client-table tr:nth-child(even) {
    background-color: lightgray;
}

th {
    border: 3px solid black;
    font-family: var(--paragraph-font);
    font-size: 1.25em;
    background-color: var(--persian-blue);
    color: white;
}

th, td {
    padding: 1rem;
    text-align: center;
}

tr td {
    border: 1px solid gray;
}

td {
    font-family: var(--paragraph-font);
}