@media only screen and (min-width: 769px) {
  header a {
    margin-left: 20px;
  }

  nav {
    display: flex;
  }

  nav a img {
    max-width: 120px;
  }

  #menu-button {
    display: none;
  }

  .navigation {
    flex-direction: row;
    justify-content: space between;
  }

  .navigation li {
    display: block;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
  }

  nav ul li a {
    padding: 10px;
    border-radius: 5px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }
}