header a {
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

header a:hover, footer a:hover {
  background-color: var(--sky-blue);
  color: black;
}

.main-img:hover {
  background-color: var(--federal-blue);
}

header a img {
  margin-top: 1em;
}

nav {
  background-color: var(--federal-blue);
  text-align: center;
}

#menu-button {
  border: none;
  font-size: 1.5rem;
  padding: 3px 7px 6px;
  background-color: var(--federal-blue);
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu-button::before {
  content: "☰";
}

.navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  display: none;
}

.open li {
  display: block;
  width: 100%;
}

.open li a {
  display: block;
}

/******FOOTER******/

footer {
  background-color: var(--persian-blue);
  padding-bottom: 1em;
}

footer a, footer p {
  color: white;
  padding: 0.5rem;
  margin: 1rem;
}
