@import "root.css";

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: var(--sky-blue);
  color: black;
}

a,
label,
p {
  font-family: var(--paragraph-font);
}

body {
  background-color: var(--celestial-blue);
}

header a {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: var(--persian-blue);
}

footer a,
footer p {
  color: white;
  padding: 5px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  text-align: center;
}

nav {
  background-color: var(--federal-blue);
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  padding: 5px;
}

.home-page-cards {
  border: 7px solid var(--federal-blue);
  margin: 5px;
  background-color: var(--sky-blue);
}
