@import "root.css";
@import "header-footer.css";
@import "header-footer-desktop.css";

a {
  text-decoration: none;
}

a,
label,
p {
  font-family: var(--paragraph-font);
}

body {
  background-color: var(--celestial-blue);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  text-align: center;
}

.home-page-cards {
  border: 7px solid var(--federal-blue);
  margin: 1.5rem;
  background-color: var(--sky-blue);
  padding: 1rem;
}

.home-page-cards h3,
h4 {
  padding: 0.5rem;
}
