/*Font for headers*/
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");

/*Font for paragraphs*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Color Palette is found at https://coolors.co/78c0e0-449dd1-192bc2-150578-0e0e52*/
:root {
  --sky-blue: #78c0e0;
  --celestial-blue: #449dd1;
  --persian-blue: #192bc2;
  --navy-blue: #150578;
  --federal-blue: #0e0e52;

  --header-font: "Rowdies", san-serif;
  --paragraph-font: "Rubik", san-serif;
}