@import "root.css";

#color-grid p {
  font-weight: bold;
}

#color-1 {
  background-color: var(--sky-blue);
}

#color-2 {
  background-color: var(--celestial-blue);
}

#color-3 {
  background-color: var(--persian-blue);
}

#color-3 p {
  color: white;
}

#color-4 {
  background-color: var(--navy-blue);
}

#color-4 p {
  color: white;
}

#color-5 {
  background-color: var(--federal-blue);
}

#color-5 p {
  color: white;
}

.display-color {
  border: 1px solid black;
}

body {
  background-color: white;
}

a {
  color: black;
}

p {
  text-align: center;
}

header h1,
header h2 {
  color: white;
  padding: 10px;
}

footer a {
  color: white;
}

footer p {
  text-align: left;
}

img {
  max-width: 94%;
}