/***********************************************/
/***********************************************/
/********************MOBILE*********************/
/***********************************************/
/***********************************************/

#reference-table {
  margin: 1rem auto;
  max-width: 95%;
}

.substance {
  border: 2px solid black;
  background-color: var(--sky-blue);
}

.substanceHeader {
  background-color: var(--persian-blue);
  border-bottom: 2px solid black;
  display: flex;
}

.substanceHeader h3 {
  color: white;
  padding: 1rem;
  font-family: var(--paragraph-font);
}

.expand {
  border: none;
  font-size: 1.5rem;
  background-color: var(--persian-blue);
  color: white;
}

.expand::before {
  content: "▾";
}

.expand.open::before {
  content: "◂";
}

.substanceDetails {
  display: none;
}

.substanceDetails.open {
  display: block;
}

li {
  list-style-type: none;
  margin: 0.5rem;
  font-family: var(--paragraph-font);
}



/***********************************************/
/***********************************************/
/********************DESKTOP********************/
/***********************************************/
/***********************************************/

table {
  border: 3px solid black;
  margin: 2rem auto;
  border-collapse: collapse;
  background-color: darkgray;
  max-width: 85%;
}

th {
  border: 3px solid black;
  font-family: var(--paragraph-font);
  font-size: 1.25em;
  background-color: var(--persian-blue);
  color: white;
}

td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-family: var(--paragraph-font);
  font-weight: bold;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: lightgray;
}

body p {
  margin: 1rem;
}